.head{
    background-color: blue;
    height: 75px;
    width: auto;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.choicein{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* background-color: black; */
    width: 70%;
    height: 250px;
}
#rock,#paper,#scissors{
    height: 215px;
    width: 215px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rock:hover{
    background-color: rgb(0, 0, 0);
}
#paper:hover{
    background-color: rgb(0, 0, 0);
}
#scissors:hover{
    background-color: rgb(0, 0, 0);
}

#result{
    text-align: center;
    background-color: aqua;
    width: 50%;
}

.result{
    background-color: rgb(34, 167, 255);
    border-radius: 10px;
    width: 300px;
    text-align: center;
    
}
.dis-result{
    width: 250px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
}
.score{
    background-color: rgb(34, 167, 255);
    height: 200px;
    width: 200px;
    text-align: center;
}